body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item {
        margin-left: 40px;
}
footer .footer-graveyard-links ul li{
  display: inline-block;
  margin-right: 50px;
  font-size: .8em;
}

footer .col {
    line-height: 2;
    margin-bottom: 10px;
}

.product-logo {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}


